<div class="container">
    <div class="form-element">
        <h1>Durata posibila a terapiei in functie de tip</h1>
        <!-- Label for types of disorders select -->
        <label for="tulburare-tip">Tipul Tulburării</label>
        <input type="text" name="tipulTulburarii" id="tulburare-tip" value="{{tulburare}}" readonly>

        <!-- Label for types of therapies select -->
        <label for="terapie-tip">Tipul Terapiei</label>
        <input type="text" name="tipulTulburarii" id="terapie-tip" value="{{terapie}}" readonly>
        
        <button (click)="buttonPressed(myDialog)">Calculate</button>
    </div>
</div>



<ng-template #myDialog>
    <h1 matDialogTitle class="title" style="font-size: 1.5rem; font-family: 'didact gothic';font-weight: bold;">Durata tratamentului ar putea fi:</h1>

    <mat-dialog-content>
    
      <h2>Numar: 8 ani</h2>
      
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose color="primary"  class="custom-dialog-button">Dismiss</button>
    </mat-dialog-actions>
  </ng-template>