<div class="container">
    <label for="user_input_information">Vă rugăm să descrieți afecțiunea dvs</label><br>
    <textarea name="user_input_information" id="user_input_information" cols="50" rows="20"></textarea>
    
    <button (click)="showDisorder(myDialog)">Predict</button>

</div>

<ng-template #myDialog>
    <h1 matDialogTitle class="title" style="font-size: 1.5rem; font-family: 'didact gothic';font-weight: bold;">Tulburarea descrisa ar putea fi:</h1>

    <mat-dialog-content>
    
      <div class="name-disorder">{{tulburare}}</div>
      <h2>Ce este {{tulburare}}?</h2>
      <div class="disorder-description">{{tulburariDictionary[tulburare]}}</div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose color="primary" style="background-color: black; font-family: didact gothic;">Dismiss</button>
    </mat-dialog-actions>
  </ng-template>