textarea {
    border-radius: 1rem;
    resize: none;
    outline: none;
    padding: 2%;
    width: 95%;
    
}

.container{
    display: flex;             /* Establishes this element as a flex container */
    flex-direction: column;    /* Aligns children in a vertical column */
    justify-content: center;   /* Centers children along the main axis (vertical) */
    align-items: center;       /* Centers children along the cross axis (horizontal) */
    height: 70vh; 
    width: auto; /* adjust this as needed, could be 'auto' or '100%' depending on your layout */
  max-width: none; /* ensure there's no max-width restricting the size */
    width: 30%;

    margin-left: 35%;

    border-radius: 1rem;
    padding: 1rem

}




button{
    padding: 10px 20px;
    border-radius: 0.7rem;
    border: 1px solid grey;
    font-family: "didact gothic";
    background-color: #0d0d0d;
    color: rgb(210, 207, 207);
    font-weight: bold;
    width:100%;
    margin-top: 1%;
    
}

label {
    font-weight: bold;
    font-family: "didact gothic";
    font-size: 1.3em;
}

.disorder-description, .name-disorder, h2, h1 {
    font-family: "didact gothic";
    color: black;
}

.name-disorder{
    font-size: 1.2rem;

}

.icon-1, .icon-2 {
    position: absolute;
}

.icon-1 {
    top: 10%;
    left: 2%;
    
}

.icon-2 {
    top: 10%;
    left: 66%
}