body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-element {
    margin-top: 1%;
    background-color: #ffffff;
    border-radius: 1rem;
    border: 1px solid rgb(178, 177, 177);
  
  display: flex;
 padding: 2%;
  flex-direction: column;
    width: 25vw;
    font-family: "didact gothic";
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #080808;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: "didact gothic";
    font-size: medium;
    width: 100%;
    font-weight: bolder;
  }



  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0.5rem;
    outline: none;
    font-family: "didact gothic";
    cursor: pointer;
    font-size:medium;
    border: 1px solid rgb(161, 161, 161);
  }

  .container{
    display: flex;             /* Establishes this element as a flex container */
       /* Aligns children in a vertical column */
    justify-content: center;   /* Centers children along the main axis (vertical) */
    align-items: center;       /* Centers children along the cross axis (horizontal) */
    border-radius: 1rem;
    padding: 1rem

}



.gender-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2%
}

.female-option, .male-option {
  padding: 5%;
  border: 1px solid grey;
  cursor: pointer;
  flex-grow: 1;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 0.5rem;
}


.gender-option.selected {
  background-color: #d9d9d9; /* Grey background for selected option */
}

h1 {
  margin: 0;
  margin-bottom: 5%;
}



/*animation shit*/
.move-left {
  transform: translateX(-105%);
  transition: transform 400ms ease-in-out;
}


.fade-in {
  opacity: 0;
  transition: opacity 5s ease-in-out;

}

/* Class to make the element visible */
.visible {
  opacity: 1;
}