<div class="container">
<form>
  <h1>Care sunt preferintele dvs pentru un terapeut?</h1>
    <label for="terapie">Terapie:</label>
    <select id="terapie" name="terapie">
      <option value="terapie1">Terapie 1</option>
      <option value="terapie2">Terapie 2</option>
      <!-- Adaugă mai multe opțiuni aici, dacă este necesar -->
    </select>

    <label>Gender:</label>
    <div class="gender-options">
      <div class="female-option">Female</div>
      <div class="male-option">Male</div>

    <!-- Adaugă alte opțiuni pentru gen aici, dacă este necesar -->
  </div>
    <label for="sedinta">Sedinta:</label>
    <select id="sedinta" name="sedinta">
      <option value="online">Online</option>
      <option value="fizic">Fizic</option>
    </select>

    <label for="tarif">Tarif:</label>
    <select id="tarif" name="tarif">
      <option value="tarif1">Tarif 1</option>
      <option value="tarif2">Tarif 2</option>
      <!-- Adaugă mai multe opțiuni aici, dacă este necesar -->
    </select>

    <button type="button">Genereaza rezultat</button>

  </form>
</div>
