<div class="container1">
    <!-- General information section for picture and name -->
    <section class="general-information">
        <div class="picture-container"></div>
        <div class="name-info-container">
            <h1 class="therapist-name">Furmanek Carina</h1>
            <p>Specialties: ANxiety disorders, antyhing else, whatever else</p>
            <p>Years of experience: 8</p>
            
            
        </div>
    </section>

    <!-- Description section for a biography or personal statement -->
    <section class="description">
        <h2>About me</h2>
        <p>As a dedicated and enthusiastic professional with a passion for continuous learning, I've carved out a niche for myself where creativity and logic intersect. My journey began in the realm of [Your Field/Academia], where I was fascinated by the intricate balance between [Related Concept] and [Another Related Concept]. With a Bachelor's degree in [Your Degree], my academic foundation has been pivotal in shaping my analytical and problem-solving abilities.</p>
    </section>

    <!-- Contact section for contact information -->
    <section class="contact">
        <h2>Contact me</h2>
        <p>Email: <a href="mailto:cvea@gmail.com">cvea&#64;yahoo&#46;com
        </a></p>
    <p>Numar de telefon: <a href="tel:+407422345344">0742 234 5344</a></p>
    </section>
</div>
