<div class="container1">
    <!-- General information section for picture and name -->
    <section class="general-information">
        <div class="picture-container"></div>
        <div class="name-info-container">
            <h1 class="therapist-name">{{nume}}</h1>
            <p>Specialties: {{specializare}}</p>
            <p>Years of experience: 8</p>
            
            
        </div>
    </section>

    <!-- Description section for a biography or personal statement -->
    <section class="description">
        <h2>About me</h2>
        <p>{{despreMine}}</p>
    </section>

    <!-- Contact section for contact information -->
    <section class="contact">
        <h2>Contact me</h2>
        <p>Email: <a href="{{email}}">{{email}}</a></p>
    <p>Numar de telefon: <a href="tel:{{telefon}}">{{telefon}}</a></p>
    </section>
</div>
